@model GuildCars.UI.Models.ModelsViewModel
@{
    ViewBag.Title = "Models";
}

<style>
    .col-25 {
        float: left;
        width: 50%;
        padding-right: 16px;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
        <h2>Add Model</h2>
        @using (Html.BeginForm("Models", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmAddModel" }))
        {
            <div class="row">
                <div class="form-group col-25">
                    <label>Model</label>
                    @Html.TextBoxFor(m => m.Model.ModelName, new { @class = "form-control" })
                </div>
                <div class="form-group col-25">
                    <label>Make</label>
                    @Html.DropDownListFor(m => m.Make.MakeID, new SelectList(Model.Makes, "MakeID", "MakeName", Model.MakesID), new { @class = "form-control" })
                </div>
            </div>
            <button class="btn btn-primary">Add</button>
        }
    </div>
</div>




@section scripts
{
    <script>
        $(document).ready(function () {

            $('#frmAddModel').validate({
                rules: {
                    'Model.MakeID': {
                        required: true
                    }
                }
            });
        });

    </script>
}
