@model List<GuildCars.UI.Models.CarViewModel>
@{
    ViewBag.Title = "Admin";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Admin</h2>
    </div>
    <div class="col-xs-12">
        @Html.ActionLink("Add a new Vehicle", "Add", "Admin", null)
    </div>
</div>

<style>
    .column {
        float: left;
    }

    .one {
        width: 25.00%;
    }

    .two {
        width: 25.00%;
    }

    .three {
        width: 25.00%;
    }

    .four {
        width: 25.00%
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <h2>Search</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form id="searchForm" class="form-inline">
            <div class="form-group">
                <label for="make">Make</label>
                <input type="text" class="form-control" id="make">
            </div>
            <div class="form-group">
                <label for="model">Model</label>
                <input type="text" class="form-control" id="model">
            </div>
            <div class="form-group">
                <label for="year">Year</label>
                <input type="text" class="form-control" id="year">
            </div>

            <label for="minYear">Min Year</label>
            <select class="form-control" id="minYear" name="minYear">
            </select>

            <label for="maxYear">Max Year</label>
            <select class="form-control" id="maxYear" name="maxYear">
            </select>

            <label for="maxPrice">Min Price</label>
            <select class="form-control" id="maxPrice" name="maxPrice">
                <option value="0">0</option>
                <option value="2500">2500</option>
                <option value="5000">5000</option>
                <option value="10000">10000</option>
            </select>

            <label for="maxPrice">Max Price</label>
            <select class="form-control" id="maxPrice" name="maxPrice">
                <option value="0">0</option>
                <option value="2500">2500</option>
                <option value="5000">5000</option>
                <option value="10000">10000</option>
            </select>


            <button id="btnSearch" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>
<div class="row">
    <div id="searchResults" class="col-xs-12">

    </div>
</div>

<script>
    $(document).ready(function () {
        minYear();
        maxYear();
        $("#searchForm").submit(function (e) {
            search();
            return false;
        });
    });

    function minYear() {
        var html = '';
        for (var i = 1980; i <= new Date().getFullYear(); i++) {
            html += '<option value="' + i + '">' + i + '</option>';
        }
        $('#minYear').html(html);
    };

    function maxYear() {
        var html = '';
        for (var i = 1980; i <= new Date().getFullYear(); i++) {
            html += '<option value="' + i + '">' + i + '</option>';
        }
        $('#maxYear').html(html);
    };

    function search() {
        var params;

        params = 'make=' + $('#make').val() + '&model=' + $('#model').val() + '&year=' +
            $('#year').val();
        console.log(params)

        $.ajax({
            type: 'GET',
            url: '/api/cars/search?' + params,
            success: function (results) {
                console.log("success");
                $('#searchResults').empty();

                $.each(results, function (index, car) {
                    var html = '<div class="row" style="border: 2px solid #0094ff;">' +
                        '<div class="column one">' +
                        `<h7 class="card-title text-primary"> ${car.Year} ${car.Make.MakeName} ${car.Model.ModelName}</h7><br />` +
                        `<img src="/Images/${car.Photo}" style="height:50px; width:50px;" />` +
                        '</div>' +
                        '<div class="column two">' +
                        '<h7 class="card-title text-primary">' + car.BodyStyle.BodyStyleName + '</h7><br />' +
                        '<h7 class="card-title text-primary">' + car.Transmission.TransmissionType + '</h7><br />' +
                        '<h7 class="card-title text-primary">' + car.ExteriorColor.Color + '</h7>' +
                        '</div>' +
                        '<div class="column three">' +
                        '<h7 class="column card-title text-primary">' + car.InteriorColor.Color + '</h7><br />' +
                        '<h7 class="card-title text-primary">' + car.Mileage + '</h7><br />' +
                        '<h7 class="card-title text-primary">' + car.VIN + '</h7>' +
                        '</div>' +
                        '<div class="column four">' +
                        '<h7 class="column card-title text-primary">' + car.SalePrice + '</h7><br />' +
                        '<h7 class="card-title text-primary">' + car.MSRP + '</h7>' +
                        '<br/>' +
                        '<div class="col-sm-6">' +
                        '<a class="btn btn-primary" href="/Admin/Edit/' + car.CarID + '">Edit</a>' +
                        '</div>' +
                        '</div>' +
                        '</div>'


                    $('#searchResults').append(html.toString());
                });

            },
            error: function () {
                alert('Error performing search, try again later!')
            },
            done: function () {
                alert('Search AJAX complete')
            }
        });
    }

</script>