@model List<GuildCars.UI.Models.CarViewModel>
@{
    ViewBag.Title = "Sales";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<div class="row">
    <div class="col-xs-12">
        <h2>Sales</h2>
    </div>

</div>

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<style>
    .column {
        float: left;
    }

    /* Set width length for the left, right and middle columns */
    .one {
        width: 25.00%;
    }

    .two {
        width: 25.00%;
    }

    .three {
        width: 25.00%;
    }

    .four {
        width: 25.00%
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .highlighted {
        background-color: Yellow;
    }

</style>

@if (Request.IsAuthenticated && User.IsInRole("Administrator"))
{
    <h2>Administrator</h2>
}

<div class="row">
    <div class="col-xs-12">
        <h2>Search</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form id="searchForm" class="form-inline">
            <div class="form-group">
                <label for="make">Make</label><br />
                <input type="text" class="form-control" id="make" name="make">
            </div>
            <div class="form-group">
                <label for="model">Model</label><br />
                <input type="text" class="form-control" id="model" name="model">
            </div>
            <div class="form-group">
                <label for="minYear">Min Year</label><br />
                <select class="form-control form-control-all" id="minYear" name="minYear" data-name="Year Range Min" title="Min year is required" aria-required="true">
                </select>
            </div>
            <div class="form-group">
                <label for="maxYear">Max Year</label><br />
                <select class="form-control form-control-all" id="maxYear" name="maxYear" data-name="Year Range Max" title="Max year is required" aria-required="true">
                </select>
            </div>

            <div>
                <label for="amount">Price range:</label>
                <input type="text" id="rangePrice" name="rangePrice" style="border:0; color:#f6931f; font-weight:bold; width:25%" readonly="readonly" /><br />
                <input type="text" id="minPrice" hidden />
                <input type="text" id="maxPrice" hidden />
                <div id="sliderRange" style="width:250px; "></div><br />
            </div>

            <div id="dropdownlist" style="display: none;">
                <label for="cars">OnSale:</label>
                <select id="onsale" name="onsale">
                    <option value="false">No</option>
                    <option selected="selected" value="true">Yes</option>
                </select>
            </div>
            <button id="btnSearch" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>
<div class="row">
    <div id="searchResults" class="col-xs-12">

    </div>
</div>

<script>
    $(document).ready(function () {
        priceRange();
        minYear();
        maxYear();

        var $min = $('#minYear'),
            $max = $('#maxYear');
        console.log($min);
        console.log($max)

        function getNumber(num) {
            var intNum = parseInt(num);
            return !isNaN(intNum) ? intNum : 0;
        }

        function getMin() {
            var number = getNumber($min.find('option:selected').val());
            console.log(number);
            return number;
        }

        function getMax() {
            var number = getNumber($max.find('option:selected').val());
            console.log(number);
            return number;
        }

        function validateRequiredBoth() {
            if (getMin() == "" && getMax() == "") {
                return true;
            } else if (getMin() != "" && getMax() == "") {
                return true;
            } else if (getMin() == "" && getMax() != "") {
                return true;
            } else {
                return false;
            }
        }

        $('#searchForm').validate({
            debug: true,
            onkeyup: false,
            onfocusout: false,
            onclick: false,
            rules: {
                minrange: {
                    required: function () {
                        return validateRequiredBoth();
                    },
                    max: {
                        param: function () {
                            return getMax();
                        },
                        depends: function () {
                            return getMax() > 0 && getMin() > getMax();
                        }
                    }
                },
                maxrange: {
                    required: function () {
                        return validateRequiredBoth();
                    },
                    min: {
                        param: function () {
                            return getMin();
                        },
                        depends: function () {
                            return getMin() > getMax();
                        }
                    }
                }
            },
            submitHandler: function (formName, event) {
                console.log('search success');
            }
        });

        $("#searchForm").submit(function (e) {
            search();
            return false;
        });



    });

    function priceRange() {
        $("#sliderRange").slider({
            range: true,
            min: 0,
            max: 50000,
            values: [0, 50000],
            slide: function (event, ui) {
                $("#rangePrice").val("$" + ui.values[0] + " - " + "$" + ui.values[1]);
                $("#minPrice").val(ui.values[0])
                $("#maxPrice").val(ui.values[1])
            }
        });

        $("#rangePrice").val("$" + $("#sliderRange").slider("values", 0) + " - " +
            "$" + $("#sliderRange").slider("values", 1));
        $("#minPrice").val($("#sliderRange").slider("values", 0));
        $("#maxPrice").val($("#sliderRange").slider("values", 1));
    };

    function minYear() {
        var html = '<option value="Any">Any</option>';
        for (var i = 1980; i <= new Date().getFullYear(); i++) {
            html += '<option value="' + i + '">' + i + '</option>';
        }
        $('#minYear').html(html);
    };

    function maxYear() {
        var html = '<option value="Any">Any</option>';
        for (var i = 1980; i <= new Date().getFullYear(); i++) {
            html += '<option value="' + i + '">' + i + '</option>';
        }
        $('#maxYear').html(html);
    };

    function search() {
        var params;

        params = 'make=' + $('#make').val() + '&model=' + $('#model').val() + '&minYear=' +
            $('#minYear').val() + '&maxYear=' + $('#maxYear').val() + '&minPrice=' + $('#minPrice').val() +
            '&maxPrice=' + $('#maxPrice').val() + '&onsale=' + $('#onsale').val();
        console.log(params)
        var container = $('#intagsname');
        var makeSearch = $('#make').val();
        var replacement = '<span class="highlight">' + makeSearch + '</span>';

        $.ajax({
            type: 'GET',
            url: '/api/cars/search?' + params,
            cache: false,
            success: function (results) {               

                console.log("success");
                $('#searchResults').empty();

                $.each(results, function (index, car) {
                    var html = '<br /><div class="row" style="border: 2px solid #0094ff;">' +
                        '<div class="column one">' +
                        `<h7 class="card-title text-primary"> ${car.Year} ${car.Make.MakeName} ${car.Model.ModelName}</h7><br />` +
                        `<img src="/Images/${car.Photo}" style="height:50px; width:50px;" />` +
                        '</div>' +
                        '<div class="column two">' +
                        '<h7 class="card-title text-primary">Style:' + car.BodyStyle.BodyStyleName + '</h7><br />' +
                        '<h7 class="card-title text-primary">Transmission: ' + car.Transmission.TransmissionType + '</h7><br />' +
                        '<h7 class="card-title text-primary">Exterior Color: ' + car.ExteriorColor.Color + '</h7>' +
                        '</div>' +
                        '<div class="column three">' +
                        '<h7 class="column card-title text-primary">Interior Color: ' + car.InteriorColor.Color + '</h7><br />' +
                        '<h7 class="card-title text-primary">Mileage: ' + car.Mileage + '</h7><br />' +
                        '<h7 class="card-title text-primary">VIN:' + car.VIN + '</h7>' +
                        '</div>' +
                        '<div class="column four">' +
                        '<h7 class="column card-title text-primary">Sale Price: ' + car.SalePrice + '</h7><br />' +
                        '<h7 class="card-title text-primary">MSRP: ' + car.MSRP + '</h7>' +
                        '<br/>' +
                        '<div class="col-sm-6">' +
                        '<a class="btn btn-primary" href="/Sales/Purchase/' + car.CarID + '">Purchase</a><br/>' +
                        '</div>' +
                        '</div>' +
                        '</div>'

                    //var text = $('#searchResults').html();
                    //text = text.replace(makeSearch, '<span style="background-color:Yellow" >' + makeSearch + '</span>');
                    //$('#searchResults').html(text);

                    //$('#searchResults').html($('#searchResults').text().replace(makeSearch, '<span style="background-color:yellow">' + makeSearch + '</span>'));

                    $('#searchResults').append(html.toString());
                });

            },
            error: function () {
                alert('Error performing search, try again later!')
            },
            done: function () {
                alert('Search AJAX complete')
            }
        });

    }


</script>
